﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-body">

            <div class="row">
                <div class="col-xs-6 .col-sm-6 .col-lg-6">
                    
                    <div class="form-inline">
                        <span>Show</span>&nbsp;
                        <select class="input-xs paged-size"
                                style="height: 25px;"
                                id="paging-size"
                                onchange="PageMove(1)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="75">75</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                </div>
                <div class="col-xs-6 .col-sm-6 .col-lg-6 text-right">
                    <button class="btn btn-primary btn-xs"
                            id="btn_sort_asc"
                            title="Ascending">
                        ASC
                    </button>
                    <button class="btn btn-primary btn-xs"
                            id="btn_sort_desc"
                            title="Descending">
                        DESC
                    </button>

                </div>
            </div>

            @*wadah menampilkan data grid*@
            <div class="row">
                <div id="table-list" name="table-list">
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var vjs_loading = '';
        var vjs_sorting = 0;
        var vjs_page_size;
        var vjs_page;

        $(document).ready(function () {
            ShowList();
        });

        function ShowList() {
            $("#table-list").html(vjs_loading);

            vjs_page_size = $("#paging-size").val() == undefined ? 10 : $("#paging-size").val();
        }

    </script>    
}